

<div class="container">
  <h1>Welcome to ShipBnB</h1>
  <h2>Choose your ship for your next adventure down below!</h2>

  <div class="container">
    <div class="row">
      <% @ships.each do |ship| %>
        <div class="col-md-4">
          <%= render partial: 'ships/card', locals: { ship: ship } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
