
<div>
  <h1>All Ships</h1>

  <% @ships.each do |ship|  %>
    <div class="card-trip">
      <%= cl_image_tag ship.photo.key %>
      <div class="card-trip-infos">
        <div>
          <h2><%= ship.name %></h2>
          <p><%= ship.description %></p>
        </div>
        <h2 class="card-trip-pricing">£<%= ship.price %></h2>
        <img src="http://t0.gstatic.com/licensed-image?q=tbn:ANd9GcQJkQrg9F6JgVV2kJkGIlg0KVK713-LpWiBHtzejjS2dojGQLtB9tkdtfByVnQAs5CCWavRJnHuyXtBj8clf5M" class="card-trip-user avatar-bordered" />

      </div>
    </div>
  <% end %>
</div>
