// Button styles

.btn-flat {
  margin-top: 20px;
  color: white;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  padding: 8px 24px;
  border: none;
  border-radius: 50px;
  background: #303030;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #121212;
  color: white;
}
