// Button styles


.btn-flat {
  margin-top: 20px;
  color: white;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  padding: 0.5em 1.5em; /* Verwendet em für die Polsterung */
  border: none;
  border-radius: 50px;
  background: #303030;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #121212;
  color: white;
}

/* Medienabfragen für unterschiedliche Bildschirmgrößen */
@media (max-width: 768px) {
  .btn-flat {
    padding: 0.5em 1em; /* Reduziert die Polsterung auf kleineren Bildschirmen */
    font-size: 0.9rem; /* Kleinere Schriftgröße auf kleineren Bildschirmen */
  }
}

@media (max-width: 576px) {
  .btn-flat {
    padding: 0.4em 0.8em; /* Weitere Reduktion der Polsterung auf sehr kleinen Bildschirmen */
    font-size: 0.8rem; /* Noch kleinere Schriftgröße auf sehr kleinen Bildschirmen */
  }
}
