// app/assets/stylesheets/devise.scss

// Import any external libraries or reset styles if needed

// Base styles for forms
.form-control {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%; // Ensure inputs take full width of the container
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
}

/* soft grey line */
.divider {
  border: 0;
  height: 1px;
  background: #ccc;
  margin-bottom: 40px;
  width: 100%;
}


// Form container styles
.simple_form {
  width: 100%;
  max-width: 400px; // Limit maximum width to prevent stretching
  margin: 0 auto; // Center the form horizontally
}

// Heading styles
.login-heading {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 100px;
}

// Link styles
a {
  color: #008489;

  &:hover {
    color: #005c5c;
  }
}

.links-container {
  text-align: center;
  margin-top: 30px;
}
