.footer-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 50);
  height: 100px;
  color: white;

}

.fonts {
  font-size: 30px;
  color: white;
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: white;
  margin:10px;
}

.links a {
  color: white;
  text-decoration: none;
}

.links a:hover {
  color: #979797;
}
