.footer-style {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100px;

}

.fonts {
  font-size: 30px;
  color: white;
}

.footer-style p {
  color: white;
}
