.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#website-title {
  display:inline;
  margin-left: 5px;
  font-size: 25px;
}

#icon {
  padding:10px;
}

#header {

}
