
.navbar-lewagon.sticky-top {
  z-index: 1030;
}
.navbar-lewagon {

  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#website-title {
  display:inline;
  font-size: 25px;
}

#icon {
  padding:5px;
  margin-left: 50px;
}

#navbarSupportedContent {
  margin-right: 50px;
}

#header {

}
