.navbar-lewagon.sticky-top {
  z-index: 1030;
}

.navbar {
  .nav-link {
    color: #000;

    &:hover {
      color: #007bff;
    }
  }
}

.avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color:#19191a;
    opacity: 0.8;
  }
}

.navbar-lewagon {

  justify-content: space-between;
  background: rgb(255, 255, 255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#website-title {
  display:inline;
  font-size: 25px;
}

#icon {
  padding:5px;
  margin-left: 50px;
}

#navbarSupportedContent {
  margin-right: 50px;
}
